# Node
node_modules/
npm-debug.log*
package-lock.json
yarn.lock

# Build output
client/dist/

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Misc
coverage/
